{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Datos de Persona</h1><br>
    
    <table>
    {% if personas %}
        <th>Rut</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Eliminar</th>
        <th>Modificar</th>

        {% for x in personas %}
           <tr>
             <td> {{ x.rut }}   
             <td> {{ x.nombre }}
             <td> {{ x.edad }} 
             <td> <a href="{% url 'personas_del'  pk=x.rut %}">Eliminar</a> 
             <td> <a href="{% url 'personas_edit' pk=x.rut %}">Mmodificar</a> 
          

           </tr>
        {% endfor %}
    {% endif %}

    </table>
</body>
</html>