<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form action="personasAdd" method="post">
        {% csrf_token %}
	    Rut:     <input type="text" name="rut"  ><br>
        Nombre:  <input type="text" name="nombre" ><br>
		edad:    <input type="number" name="edad" value="0"><br>
       

        <input type="submit" name="opcion" value="Agregar">
		<input type="submit" name="opcion" value="Editar">
		
		<br>
    </form>



    <div id="idMensajes">

        {% if mensaje%}
           {{mensaje}}
        
        {% endif %}   
    </div>
</body>
</html>