{{request.post}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario Sumar</h1><br>
    
   
    <form action="calcularSuma" method="POST">
        {% csrf_token %}
        valor1: <input type="text" name="valor1" value="{{v1}}"> <br>
        valor2: <input type="text" name="valor2" value="{{v2}}"> <br>
        <input type="submit" name="opcion" value="Sumar">
      
        Resultado: <input type="text" name="resultado" value="{{ resultado }}">
    </form>
</body>
</html>